.plance{
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
    height: 30vh;
    width: 20%;
    box-shadow: 5px 0px 0px 0px black;
}

.form-btn{
    border-radius: 8px;
}

.fa-solid{
    padding-top: 30px;
    font-size: 70px;
}

.result{
    font-size: 20px;
}